* {
    font-family: Roboto, sans-serif
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header, .hero, .footer {
    background-color: #1F2937;
    padding-left: 175px;
    padding-right: 175px;
}

.header {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo {
    margin: 0;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display: flex;
    justify-content: right;
    gap: 22px;
}

.header-link, .hero-text, .info-subtext, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

h1 {
    margin: 0
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p {
    margin: 0
}

.hero-text {
    margin-bottom: 10px;
}

button {
    border: 0;
}

.sign-up {
    background-color: #3882F6;
    width: 130px;
    height: 35px;
    border-radius: 6px;
    color: #F9FAF8;
    font-size: 17px;
    font-weight: bold
}

.info {
    padding: 53px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 0
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 53px;
}

.info-images {
    display: flex;
    gap: 60px
}

.info-image {
    border: 3px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 5px;
}

.info-subtext {
    color: #737373;
    width: 200px;
    text-align: center
}

.quote {
    background-color: #E5E7EB;
    padding: 120px 250px 100px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-author {
    text-align: right;
    font-size: 20px;
    padding: 0 33px;
    font-weight: bold;
}

h3 {
    margin: 0
}

.action {
    background-color: #3882F6;
    margin: 85px 150px;
    padding: 45px 100px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
}

.action-main {
    font-size: 25px
}

.action-text {
    font-size: 17px;
    font-weight: lighter
}

.action-button {
    background-color: transparent;
    padding: 5px 28px;
    border: 2px solid #F9FAF8;
    border-radius: 7px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center
}