* {
    font-family: Roboto, sans-serif
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    background-color: #1F2937;
    padding: 18px 175px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo {
    margin: 0;
    font-size: 24px;
    color: #F9FAF8
}

.header-links {
    display: flex
}

.header-link {
    margin: 0px 15px;
    font-size: 18px;
    color: #E5E7EB;
}
